.box {
    align-items:center;
    width: 75%;
    height: 75%;
    padding:120px;
    background-color:#387478;
    
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.button {
    font-size: 15px;
    padding: 14px 30px;
    border: 2px solid gray;
    font-weight: bold;
}
